.banner::before {
    content: "";
    position: absolute;
    top: -300px;
    left: -350px;
    height: 500px;
    width: 500px;
    opacity: 0.5;
    background: #ff5722;
    filter: blur(250px);
    z-index: -1;
}

.banner .slogan {
    line-height: 120%;
}

.banner .des {
    color: rgba(25, 24, 37, 0.5);
}

.banner .btn-get-started {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 20px 20px 0 rgba(0, 0, 0, 0.09),
        0 45px 27px 0 rgba(0, 0, 0, 0.05), 0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 126px 35px 0 rgba(0, 0, 0, 0);
}

.banner .btn-watch-demo {
    border: 1px solid #eee;
}

@layer components {
    .banner .btn-explore {
        @apply bg-white rounded-full;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07), 0 34px 75px 0 rgba(0, 0, 0, 0.07), 0 137px 137px 0 rgba(0, 0, 0, 0.06),
            0 308px 185px 0 rgba(0, 0, 0, 0.04), 0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 856px 240px 0 rgba(0, 0, 0, 0);
    }
}

.banner-right:before {
    content: url("../src/assets/images/plane-in-world.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: -1;
}

.banner-right .btn-send {
    height: 64px;
    width: 64px;
    background: #f85e9f;
    min-width: 0;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.09), 0 43px 26px 0 rgba(0, 0, 0, 0.05), 0 77px 31px 0 rgba(0, 0, 0, 0.01),
        0 120px 34px 0 rgba(0, 0, 0, 0);
    position: absolute;
    bottom: -32px;
    left: -32px;
}

.banner-right .btn-location {
    box-shadow: 0 43px 26px 0 rgba(0, 0, 0, 0.05), 0 77px 31px 0 rgba(0, 0, 0, 0.01), 0 120px 34px 0 rgba(0, 0, 0, 0);
    bottom: 50px;
    right: -100px;
}

.banner-right .btn-add-user {
    height: 64px;
    width: 64px;
    min-width: 0;
    padding: 0;
    border-radius: 50%;
    background: #ff5722;
    box-shadow: 0 19px 19px 0 rgba(0, 0, 0, 0.09), 0 43px 26px 0 rgba(0, 0, 0, 0.05), 0 77px 31px 0 rgba(0, 0, 0, 0.01),
        0 120px 34px 0 rgba(0, 0, 0, 0);
    bottom: -5px;
    left: 30%;
}

.abc {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}
